.animal {
    width: 50%;
    margin: auto;
    margin-top: 1em;
}
.wrapper{
    background: red;
    color: white;
    padding: 15px 5px;
    position: relative;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;

}
.delete{
    position: absolute;
    right: 5px;
    top: 0px;
}

span{
    font-weight: bold   
}

label{
    color:red
}