.output {
    background-color: green;
    color: white;
    width: 300px;
    margin: 3px;
    padding: 1em;
    border-radius: 5px;
    margin-top: 50px;
    box-shadow: 5px 5px 10px #00000030;
}

.title{
    color:gray
}