.twitterThread {
  border: solid skyblue 2px;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 10px;
  text-align: left;
}

.twitterThreadContainer {
  width: 50%;
  margin: auto;
  margin-bottom: 50px
}

.twitterAvatar {
  width: 25px;
  height: 25px;
}

.twitterContainer {
  background-color: skyblue;
  padding: 20px 0px 20px 0px;
  border-radius: 5px;
  min-height: 100vh;
}

.twitterWrapper {
  background-color: white;
  width: 80%;
  margin: auto;
  border-radius: 5px;
  min-height: 80vh;
  padding-bottom: 50px;
}

.twitterButton {
  padding: 10px 0px 10px 0px;
  width: 50vw;
  border-radius: 5px;
  color: white;
  background-color: skyblue;
  font-size: 18px;
  font-weight: bold;
  border: none;
  box-shadow: 3px 3px 6px 0px #00000030;
  margin-top: 20px
}
.twitterTextbox {
  display: block;
  margin: auto;
  width: 50vw;
  border-radius: 5px;
  border: skyblue solid;
  box-sizing: borderBox;
}

h3{
  
  margin-top: 50px;

}