.App {
  text-align: center;
}

.buttonDashboard {
  width: 200px;
  height: 100px;
  background-color: #FF5722;
  border: solid 1px #FF5722;
  border-radius: 5px;
  margin: 20px 20px 0px 0px;
  color: white;
  box-shadow: 4px 4px 10px grey;
  text-transform: capitalize
}

.show {
  display: inline-block
}

.dontShow {
  display: none
}

.flexContainer {
  display: flex;
  flex-direction: row;
  margin: auto;
  width: 80%;
  flex-flow: wrap;
  align-content: space-around;
}
.flexContent{

  background-color: #FF5722;
  display: flex;
  flex-direction: column;
  /* flex-direction: row; */
  margin: auto;
  /* width: 80%; */
  /* flex-flow: wrap; */
  justify-content: center;
  align-content: flex-start;
  border-radius: 5px;
}